@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}

.layout_content {
  flex-grow: 1;
}

.sidebar_wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: rgb(42, 170, 37);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar_top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar_logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar_logoName {
  font-size: 2.0rem;
  font-weight: 600;
}

.sidebar_list {
  list-style: none;
}

.sidebar_link {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar_active {
  color: #fff;
  background-color: #10b981;
}

.sidebar_icon {
  display: inline-flex;
  font-size: 1.7rem;
}

.sidebar_name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.4rem;
}

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logoName {
  display: none;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

.main {
  width: 100%;
  margin-bottom: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lay{
  padding-top: 2rem;
}

.TextMarg{
  margin-bottom: 4rem;
}

.grid{
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: 6rem;
  row-gap: 8rem;
}

.collum{
  grid-column: span 6 / span 6;
  position: relative;
  bottom: 2.75rem;
}

.article{
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(0 0 0);
  border-color: rgb(255 255 255);
  padding: 1.5rem;
  position: relative;
}

.spanType{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.type{
  color: rgb(124 58 237);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.title{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;

}

.summary{
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
  font-weight: 500;
  position: relative;
  bottom: 0.5rem;
  color: rgb(0 0 0);
}

.link{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.targetLink{
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(0 0 0);
  color: rgb(255 255 255);
  padding: 0.5rem;
  padding-left: 1.5rem; 
  padding-right: 1.5rem;
  font-size: 1.125rem; 
  line-height: 1.75rem;
  font-weight: 600;
}